[Unit]
Description="HashiCorp Vault Agent - Automatic authentication and secret retrieval"
Documentation=https://www.vaultproject.io/docs/agent/
Requires=network-online.target
After=network-online.target vault.service
ConditionFileNotEmpty={{ vault_agent_config_dir }}/vault-agent.hcl
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=simple
User={{ vault_agent_user }}
Group={{ vault_agent_group }}
ProtectSystem=full
ProtectHome=read-only
PrivateTmp=yes
PrivateDevices=yes
NoNewPrivileges=yes
EnvironmentFile={{ vault_agent_config_dir }}/approle.env
ExecStart={{ vault_install_dir }}/vault agent -config={{ vault_agent_config_dir }}/vault-agent.hcl
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGINT
Restart=on-failure
RestartSec=5
TimeoutStopSec=30
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target