VINCE_LISTEN={{ vince_listen }}
VINCE_DATA={{ vince_data_dir }}
VINCE_URL={{ vince_url }}
VINCE_DEMO_URL={{ vince_demo_url }}
VINCE_PROFILE={{ vince_profile | lower }}

{% if vince_auto_tls %}
VINCE_AUTO_TLS=true
{% if vince_acme_email %}
VINCE_ACME_EMAIL={{ vince_acme_email }}
{% endif %}
{% if vince_acme_domain %}
VINCE_ACME_DOMAIN={{ vince_acme_domain }}
{% endif %}
{% endif %}

{% if vince_domains %}
VINCE_DOMAINS={{ vince_domains | join(',') }}
{% endif %}

# Admin credentials (used for initial setup)
VINCE_ADMIN_NAME={{ vince_admin_name }}
VINCE_ADMIN_PASSWORD={{ vince_admin_password }}
